
<!-- TESTIMONIALS -->
<section class="testimonials">
	<div class="container">
    <div class="row">
      <div class="col-sm-12" >
        <div id="customers-testimonials"  class="owl-carousel ">

            <!--TESTIMONIAL 1 -->
          <div class="item quiz" *ngFor="let quiz of quizList" routerLink="/accueil-quiz/{{quiz.id}}">
              <div class="card"
                   (mouseenter)="quiz.hovered = true"
                   (mouseleave)="quiz.hovered = false"
                   [ngClass]="{'another-hovered': isAnotherHovered(quiz) && animationsService.isAnimated}"
                   [ngClass]="{'hovered':  quiz.hovered && animationsService.isAnimated}">
              <!-- shadow-effect -->
                <img [src]="quiz.image" class="img-fluid" />
                <div class="card-body">
                  <h1 class="card-title"><a>{{quiz.name}}</a></h1>
                  <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item me-0">
                        <fa-icon class="star-icon" [icon]="quizStar" *ngFor="let i of [].constructor(quiz.difficulty)"></fa-icon>
                        <span class="note">{{quiz.difficulty}}/5 (413)</span>
                        <i class="fas fa-star text-warning fa-xs"> </i>
                    </li>
                  </ul>
                  <h4><p class="card-theme">
                    {{quiz.theme}}
                  </p></h4>
                  <p class="card-text">
                    {{quiz.desc}}
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- END OF TESTIMONIALS -->

