@font-face {
  font-family: 'DynaPuff';
  src: url("~src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf");
}

.contrastDownTitleExtrude{
  font-family: DynaPuff;
  font-size: 11vw;
  font-weight: 700;
  color: #FFFDF8;
  text-shadow: 8px 8px 0 #1E1E1E;

  display: flex;
  justify-content: center;
  margin: 0;
}

.contrastUpTitleExtrude{
  font-family: DynaPuff;
  font-size: 11vw;
  font-weight: 700;
  color: #000000;
  text-shadow: none;

  display: flex;
  justify-content: center;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

#container\ parametre{
  display: flex;
  justify-content: space-evenly;
}

#retour{
  display: flex;
  justify-content: end;
  align-self: end;
  margin: 0 10px 20px 10px;
}





