<div class="container">

  <h1 [ngClass]="this.contrasteTroubleEnable ? 'contrastUpTitleExtrude' : 'contrastDownTitleExtrude'" class="">PolyQuiz</h1>


  <div id="container parametre">
    <app-btn-clickable-frame-background class="navigation" [routerLink]="['/configurationVision']">PARAMETRE <br>
      VISION</app-btn-clickable-frame-background>

    <app-btn-clickable-frame-background class="navigation" [routerLink]="['/configurationAttention']">PARAMETRE <br>
      ATTENTION</app-btn-clickable-frame-background>
  </div>

  <app-btn-clickable-frame-background class="navigation" id="retour" [routerLink]="['/accueil']">RETOUR</app-btn-clickable-frame-background>

</div>
