<div class="container">

  <h1 [ngClass]="this.contrasteTroubleEnable ? 'contrastUpTitleExtrude' : 'contrastDownTitleExtrude'" class="polyquizTitre">PolyQuiz</h1>

  <div id="container parametre">
    <app-btn-clickable-frame-background class="navigation" id="vision" [routerLink]="['/configurationVision']">PARAMETRE <br>
      VISION</app-btn-clickable-frame-background>

    <app-btn-clickable-frame-background class="navigation" id='attention' [routerLink]="['/configurationAttention']">PARAMETRE <br>
      ATTENTION</app-btn-clickable-frame-background>
  </div>
  <app-btn-clickable-frame-background class="navigation" id="retour" [routerLink]="['/accueil']" (click)="toggleAuthenticate()">RETOUR</app-btn-clickable-frame-background>
</div>
<app-access-code-modal *ngIf="showModalAuth"
                       (enteredAccessCode)="handleAccessCode($event)"
                       [isAccessing]="isAccessing" [isAppearing]="isAppearing">
</app-access-code-modal>
