<p>config-attention works!</p>
<h1>PolyQuiz</h1>
<div class="animateurContainer">
  <p>Animateur</p>
  <button>ON/OFF</button>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider">
  </div>
</div>

<div class="animationContainer">
  <p>Animation</p>
  <button>ON/OFF</button>
  <p>Vitesse Animations</p>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider">
  </div>
</div>

<button class="navigation" [routerLink]="['/configuration']">Retour</button>


