@font-face {
  font-family: 'DynaPuff';
  src: url("~src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf");
}

@font-face {
  font-family: 'Nunito';
  src: url("~src/assets/Fonts/nunito-main/fonts/variable/Nunito[wght].ttf");
}

html, body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
}

header {
  padding-top: 4%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container {
  padding-top: 1%;
  height: 90%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.animateurContainer, .animationContainer, .couleurContainer {
  min-width: 30%;
  height: 75vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 45px;
}

.app-slider {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

#imageAnimateur {
  margin-right: 1vw;
  margin-top: 5vh;
  max-height:40%;
  max-width: 100%;
}

h1{
  font-family: DynaPuff;
  font-size: 9vw;
  font-weight: 700;
  color: #FFFDF8;
  text-shadow: 8px 8px 0 #1E1E1E;
  margin: 0 0 0 22%;
}

p{
  font-family: Nunito;
  font-size: calc((6vh + 10.68vw)/4);
  font-weight: 900;
  text-align: center;
  margin-top: 5vh;

  background: linear-gradient(90deg, #7D67AA -4.73%, #8791B6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


//CONTRASTE
.contrastUpContainer{
  background: rgb(200, 200, 200);
}

.contrastUpTextExtrude{
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contrastUpTitleExtrude{
  font-family: DynaPuff;
  font-size: 9vw;
  font-weight: 700;
  color: #000000;
  text-shadow: none;
  margin: 0 0 0 22%;
}



