<header>
  <h1>PolyQuiz</h1>
  <app-btn-clickable-background onclick="history.go(-1);">RETOUR</app-btn-clickable-background>
</header>

<div class="container">

  <div id="contrastUpContainer" class="animateurContainer">
    <p id="contrastUpText">Animateur</p>
    <app-btn-on-off-animateur (click)="toggleAnimateur()"></app-btn-on-off-animateur>
    <app-slider-animateur-speed *ngIf="animateur" class="app-slider"></app-slider-animateur-speed>
    <img *ngIf="animateur" src="./assets/Images/Animateur_image.png" alt="Image animateur" id="imageAnimateur">
  </div>

  <div  id="contrastUpContainer" class="animationContainer">
    <p id="contrastUpText">Animations</p>
    <app-btn-on-off-animations (click)="toggleAnimations()"></app-btn-on-off-animations>
    <p *ngIf="animations" id="contrastUpText">Vitesse <br> Animations</p>
    <app-sliderAnimationDuration *ngIf="animations" class="app-slider"></app-sliderAnimationDuration>
  </div>

  <div  id="contrastUpContainer" class="couleurContainer">
    <p id="contrastUpText"> Meilleur <br> Contraste </p>
    <app-btn-on-off-colors (click)="toggleContrastColor($event)"></app-btn-on-off-colors>
  </div>

</div>
