<link rel="stylesheet" href="accueil.component.scss">

<body>


<div class="container accueilSite">

  <div class="leftContainer">
    <h1 class="titreStyle">PolyQuiz</h1>
    <app-model-button class="navigation" id="jouer"[routerLink]="['/liste-quizz']">JOUER</app-model-button>
  </div>

  <div class="rightContainer">
    <app-btn-clickable-background class="navigation" [routerLink]="['/configuration']">CONFIGURATION</app-btn-clickable-background>
    <app-btn-clickable-background class="navigation" [routerLink]="['/mon-profil']">MON PROFIL</app-btn-clickable-background>
    <app-btn-clickable-background class="navigation" [routerLink]="['/statistiques']">STATISTIQUE</app-btn-clickable-background>
  </div>


</div>

</body>
