<link rel="stylesheet" href="accueil.component.scss">


<div class="container accueilSite">

  <div class="leftContainer">
    <h1 [ngClass]="this.contrasteTroubleEnable ? 'contrastUpTitleExtrude' : 'contrastDownTitleExtrude'" class="titreStyle">PolyQuiz</h1>
    <app-btn-clickable-frame-background class="navigation" id="jouer"[routerLink]="['/liste-quizz']">JOUER</app-btn-clickable-frame-background>
  </div>

  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble1" *ngIf="getAnimateur()"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble2" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay() + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble3" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(7/4) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble4" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(9/4) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble5" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(11/4) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble6" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(7/2) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" class="textContainer" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(9/2) + 's')}">
    <p>Bienvenue sur Polyquiz !<br>Es-tu prêt à tester tes connaissances ?</p>
  </div>
  <div class="animatorContainer" *ngIf="getAnimateur()">
    <img [src]="'../../assets/Images/Animateurs/'+getAnimateur()" alt="Image animateur" class="animator-relative">
  </div>

  <div class="rightContainer" [ngClass]="this.contrasteTroubleEnable ? 'contrastUpContainer' : ''">
    <app-btn-clickable-background (click)="isAccessible('/configuration')" class="navigation">CONFIGURATION</app-btn-clickable-background>
    <app-btn-clickable-background id="profils" class="navigation" [routerLink]="['/mon-profil']">PROFILS</app-btn-clickable-background>
    <app-btn-clickable-background (click)="isAccessible('/statistiques')" class="navigation">STATISTIQUE</app-btn-clickable-background>

  </div>

</div>

<div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show user-alert" role="alert">
  Aucun profil n'est sélectionné, veuillez en créer un ou en sélectionner un existant.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>
