.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  transform-origin: 50% 175%;
  background: linear-gradient(261.58deg, rgba(124, 101, 169, 0.5) -77.61%, rgba(145, 192, 196, 0.5) 143.35%);
  box-shadow: 0 0 1em 0.4em rgba(255, 255, 255, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
}

.modal-content h2 {
  font-family: Nunito;
  font-weight: 700;
  margin-top: 0;
  color: rgb(33,37,41);
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-content button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 120%;
  font-family: Roboto Mono;
  font-weight: 600;
}

.modal-content button:hover {
  opacity: 0.6;
}

#retour {
  margin: 0 10px 20px 10px;
  position: relative;
  transform-origin: 50% 0;
}

@keyframes accessing-blur {
  0% {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.4);
  }
  100% {
    backdrop-filter: blur(0);
    background-color: rgba(0,0,0,0);
  }
}

.accessing-blur {
  animation: accessing-blur 0.6s forwards;
}

@keyframes button-accessing {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(200%);
    opacity: 0;
  }
}

.button-accessing {
  animation: button-accessing 0.6s forwards;
}

@keyframes accessing {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
  }
  100% {
    transform: scale(0) translateY(200%);
    opacity: 0;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0);
  }
}

.accessing {
  animation: accessing 0.6s forwards;
}

@keyframes appearing-blur {
  0% {
    backdrop-filter: blur(0);
    background-color: rgba(0,0,0,0);
  }
  100% {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.4);
  }
}

.appearing-blur {
  animation: appearing-blur 0.6s forwards;
}

@keyframes button-appearing {
  0% {
    transform: scale(0) translateY(200%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.button-appearing {
  animation: button-appearing 0.6s forwards;
}

@keyframes appearing {
  0% {
    transform: scale(0) translateY(200%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.appearing {
  animation: appearing 0.6s forwards;
}


@font-face {
  font-family: 'Nunito';
  src: url('../../assets/Fonts/nunito-main/fonts/variable/Nunito[wght].ttf');
}


.DEUTERANOMALIE{
  background: #805ad0 !important;
  text-shadow: none !important;
}

.TRITANOPIE{
  background: #fb5e7e !important;
  text-shadow: none !important;
}

.contrastUpContainer{
  color: black!important;
  background: rgb(200, 200, 200)!important;
  text-shadow: none!important;
}
