<div class="titrePage">
  <app-btn-polyquiz-text id="polyquizHome"></app-btn-polyquiz-text>
  <p class="titreStyle" id="quizName">Les présidents</p>
</div>

<div class="pageContainer">
  <div [ngClass]="getAnimations() ? 'textBubbleWithAnimationsON' : 'textBubbleWithAnimationsOFF'" [ngStyle]="{'animation-delay' : (getDelay()*(9/2) + 's')}">
    <div [ngClass]="this.contrasteTroubleEnable ? 'bubble_contrastOn contrastUpContainer' : 'bubble_contrastOff'" >
        <p class="fontStyleCanChange fontSizeCanChange">Bravo, tu as fini le quizz, ton score est de {{score}}</p>
        <div id="container" routerLink="/statistiques-quiz">
          <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
            <span class="button-text fontStyleCanChange" >Voir les stats</span>
          </button>
        </div>


    </div>
  </div>


  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble1" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(2) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble2" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(11/4) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble3" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(13/4) + 's')}"></div>
  <div [ngClass]="getAnimations() ? 'bubbleAnimationsON' : 'bubbleAnimationsOFF'" id="bubble4" *ngIf="getAnimateur()" [ngStyle]="{'animation-delay' : (getDelay()*(15/4) + 's')}"></div>
  <div class="animatorContainer" [ngClass]="getAnimations() ? 'animatorWithAnimationsON' : 'animatorWithAnimationsOFF'" *ngIf="getAnimateur()" [ngStyle]="{'animation-duration' : (getDelay()*(10/4) + 's')}">
    <img [src]="'./assets/Images/Animateurs/'+getAnimateurPath()" alt="Image animateur" class="animator-relative">
  </div>
  <div class="containerButtons">
    <app-btn-clickable-frame-background routerLink="/accueil-quiz/{{quiz.id}}">REJOUER</app-btn-clickable-frame-background>
    <app-btn-clickable-frame-background routerLink="/liste-quizz">CONTINUER</app-btn-clickable-frame-background>
  </div>





</div>
