
  <div class="titrePage">
    <app-btn-polyquiz-text id="polyquizHome"></app-btn-polyquiz-text>
    <p [ngClass]="this.contrasteTroubleEnable ? 'titreStyleContrastOn' : 'titreStyleContrastOff'" class="titreStyle">Les présidents</p>

  </div>

<div class="pageContainer">
  <div [ngClass]="this.contrasteTroubleEnable ? 'bubble_contrastOn && contrastUpContainer' : 'bubble_contrastOff'" >
      <p>Bravo, tu as fini le quizz, ton score est de {{score}}</p>
      <div id="container" routerLink="/statistiques-quiz">
        <button class="learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
          <span [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : 'button-text'" >Voir les stats</span>
        </button>
      </div>


  </div>



  <app-image-animateur></app-image-animateur>
  <div class="containerButtons">
    <app-btn-clickable-frame-background routerLink="/accueil-quiz/{{quiz.id}}">REJOUER</app-btn-clickable-frame-background>
    <app-btn-clickable-frame-background routerLink="/liste-quizz">CONTINUER</app-btn-clickable-frame-background>
  </div>





</div>
