@font-face {
  font-family: 'Nunito';
  src: url('../../assets/Fonts/nunito-main/fonts/variable/Nunito[wght].ttf');
}

//SETUP DE CONTRASTE
.contrastUpContainer {
  color: black !important;
  background: rgb(200, 200, 200) !important;
  text-shadow: none !important;
}

.container1 {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container {
  width: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.top-element {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 0;
}


.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerBtnGestion{
  width: 33rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#retour{
 padding-top: 5em;
 padding-bottom: 5em;
}

.containerBtnGestionUser{
  height: 40%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.btnCreerUser{
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 2em;
    padding: 0.4em 0.4em;
    margin-bottom: 1em;
    color: #FFFFFF;
    text-shadow: -1px 4px 2px #7C66A9;
    width: 100%;
    height: fit-content;
    background: rgba(207, 207, 207, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
}

.btnCreerUser:hover{
  box-shadow: inset 5px -5px 4px rgba(0, 0, 0, 0.25),
  inset -5px 5px 4px rgba(0, 0, 0, 0.25),
  inset -5px -5px 4px rgba(0, 0, 0, 0.25),
  inset 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.btnDeleteUser{
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 2em;
  padding: 0.4em 0.4em;
  color: #FFFFFF;
  text-shadow: -1px 3px 2px #9f94ba;
  width: 100%;
  height: fit-content;

  background: linear-gradient(261.58deg, rgba(178, 0, 0, 0.5) -77.61%, rgba(124, 101, 169, 0.5) 143.35%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 4px rgba(255, 255, 255, 0.32);
  border-radius: 40px;
  border: none;
}

.btnDeleteUser:hover{
  box-shadow: inset 5px 5px 16px rgba(0, 0, 0, 0.25), inset -4px -3px 16px rgba(255, 255, 255, 0.32);
}

.alert-success{
  margin-top: 2rem;
  align-items: center;
  width: 80%;
  text-align: center;
}

.contenuProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.backGround{
  width: 100%;
  height: 130px;
  border-radius: 2rem 2rem 0 0;
}

.cardBody{
  width: 100%;
  overflow: auto; /* ou 'scroll' */
  height: 100%;
}

.main-body {
  height: 100%;
  padding: 1rem;
}
.btnChoisir{
  width: 80%;
  height: 3rem;
  font-size: 1.3em;
  Font-family: "Nunito";
  font-weight: 640;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 2rem 2rem .5rem .5rem;

  transition: all 0.5s ease;
}

@keyframes shine {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}

.avatarUser{
  margin-left: 1.5rem;
  object-fit: contain;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(-1px, -1px); }
  75% { transform: translate(1px, 1px); }
  100% { transform: translate(1px, -1px); }
}

.card-delete-mode {
  position: relative; /* important pour le positionnement correct de ::before */
}
.card-delete-mode::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 2rem 2rem .5rem .5rem;
}
.card-delete-mode:hover {
  animation: vibrate 0.2s infinite;
}

.card-delete-mode:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes trash-can {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.card:hover #trash-can {
  animation: trash-can 0.5s ease-in-out infinite alternate;
}

#trash-can{
  position: absolute;
  top: 12%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index: 998;
}

.card-delete-mode:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.3);
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.13) 50%,
      rgba(255, 255, 255, 0.3) 92%,
      rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 2rem;
}

.card-delete-mode::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 0, 0, 0.71);
  box-shadow: 0em 0em 0.9em 0.4em rgba(0, 0, 0, 0.25);
  border-radius: 2rem 2rem .5rem .5rem;
  z-index: 1;
  animation: shine 2s ease-in-out infinite;

}

.selected{
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0.4em 0.4em rgba(255, 255, 255, 0.4);
}



.user-name{
  margin: 0;
  padding: 0.3em;

}
.user-name-delete-mode{
  z-index: 999;
  color: #000000;
}
.user-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.user-title h5 {
  margin: 0;
  font-size: 1.6rem;

}

.user-title input {
  margin: 0.2em auto 0.17em;
  width: 50%;
  border: none;
  border-radius: 0.3em;
  text-align: center;
  padding: 0;
  font-size: 1.55rem;
  background: linear-gradient(261.58deg, rgba(124, 101, 169, 0.5) -77.61%, rgba(145, 192, 196, 0.5) 143.35%);
}


.edit-button {
  background: linear-gradient(261.58deg, rgba(124, 101, 169, 0.5) -77.61%, rgba(145, 192, 196, 0.5) 143.35%);
  border-radius: 0.3em;
  margin-left: 0.5em;
  padding: 0;
  cursor: pointer;
  border: none;
}

.user-svg {
  cursor: pointer;
  height: 1.5em;
  justify-self: center;
  align-self: center;
  padding: 0 0.1em 0.1em 0.1em;
}

.gutters-sm>.col {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3 {
  margin-bottom: 2rem!important;
}

.btn-light {
  color: #1a202c;
  background-color: #fff;
  border-color: #cbd5e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* appliquer un flou */
  transition: box-shadow 0.2s ease-in-out;
}

.btn-selected {
  box-shadow: inset 5px -5px 8px rgba(0, 0, 0, 0.25),
  inset -5px 5px 8px rgba(0, 0, 0, 0.25),
  inset -5px -5px 8px rgba(0, 0, 0, 0.25),
  inset 5px 5px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}





.card-footer, .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  padding: .5rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0 solid rgba(0,0,0,.125);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.5;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.show {
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
}

#annulerCreation{
  margin-right: 1em;
}

@keyframes deleting {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }

}
.deleting {
  animation: deleting 0.4s ease;
}


.DEUTERANOMALIE{
  background: #9999d4 !important;
}
.DEUTERANOMALIE_FONT{
  color: white !important;
  text-shadow: none !important;
}

.TRITANOPIE{
  background: #faa5b5 !important;
}

.TRITANOPIE_FONT{
  color: black !important;
  text-shadow: none !important;
}
