<div class="container monProfil">
  <div class="top-element">
    <h1 [ngClass]="contrasteTroubleEnable ? 'contrastUpTitleExtrude' : 'contrastDownTitleExtrude'">PolyQuiz</h1>
    <app-btn-clickable-frame-background class="navigation" id="retour" onclick="history.go(-1);">RETOUR</app-btn-clickable-frame-background>
  </div>
</div>
<div class="content-wrapper">
  <div class="containerBtnGestionUser">
    <button class="btnGestion" id="btnCreerUser" type="button" (click)="goToCreateUser()">CREER USER</button>
    <button class="btnGestion" id="btnDeleteUser" type="button" data-toggle="modal" data-target="#modalDeleteConfirmation">SUPPRIMER USER</button>
  </div>
  <div class="cardBody">
    <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
      Utilisateur créé avec succès!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
    </div>
    <div class="main-body">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 gutters-sm justify-content-center">
        <ng-container *ngIf="!isCreatingUser">
          <div class="col mb-3 listUser" *ngFor="let user of this.users">
            <div class="card">
              <div class="backGround" [ngStyle]="{'background-color': user.color}"></div>
              <div class="card-body text-center">
                <img [src]="getImageFromImageName(user.imagePath)" style="width:150px;height:160px;margin-top:-75px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3 avatarUser">
                <div class="user-title" [ngClass]="{'editing': user.editing}">
                  <h5 class="user-name" *ngIf="!user.editing">{{ user.name }}</h5>
                  <input type="text" [(ngModel)]="user.name" *ngIf="user.editing">
                  <button class="edit-button" (click)="toggleEditUserName(user)">
                    <svg class="user-svg" *ngIf="!user.editing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.7574 2.99666L14.7574 4.99666H5V18.9967H19V9.2393L21 7.2393V19.9967C21 20.5489 20.5523 20.9967 20 20.9967H4C3.44772 20.9967 3 20.5489 3 19.9967V3.99666C3 3.44438 3.44772 2.99666 4 2.99666H16.7574ZM20.4853 2.09717L21.8995 3.51138L12.7071 12.7038L11.2954 12.7062L11.2929 11.2896L20.4853 2.09717Z"></path></svg>
                  </button>
                </div>
                <div class="card-footer">
                  <button *ngIf="!user.editing" class="btn btn-light btn-sm bg-white has-icon btn-block btnChoisir" type="button">Choisir</button>
                  <button *ngIf="user.editing" class="btn btn-light btn-sm bg-white has-icon btn-block btnChoisir" type="button" (click)="toggleEditUserName(user)">Valider</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col mb-3" *ngIf="isCreatingUser">
          <form (ngSubmit)="createUser()">
            <div class="card">
              <div class="backGround" [ngStyle]="{'background-color': '#633719'}"></div>
              <div class="card-body text-center">
                <button type="button" class="btn btn-link p-0" (click)="openModal()">
                  <img [src]="selectedAvatar" style="width:150px;height:160px;margin-top:-75px" alt="User" class="img-fluid rounded-circle mb-3">
                </button>
                <div class="user-title" [ngClass]="{'editing': isCreatingUser}">
                  <h5 class="user-name" *ngIf="!isCreatingUser">Nom de l'utilisateur</h5>
                  <input type="text" [(ngModel)]="userName" *ngIf="isCreatingUser" name="userName" required>
                </div>
                <div class="card-footer">
                  <button class="btn btn-light btn-sm bg-white has-icon btn-block btnChoisir" type="button">Choisir</button>
                  <button type="submit" class="btn btn-light btn-sm bg-white has-icon btn-block btnChoisir">Valider</button>
                </div>
              </div>
            </div>
          </form>
          <button class="btnGestion" id="btnCancelCreateUser" type="button" (click)="cancelCreateUser()">ANNULER CREATION</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pop-up pour le choix de l'avatar -->

<div class="popup" [class.show]="showModal">
  <div class="popup-content">
    <button type="button" class="close-button" (click)="closeModal()">&times;</button>
    <h3>Choisis ton animateur !</h3>
    <div class="row">
      <div class="col-4" *ngFor="let img of avatarImages">
        <img [src]="img" class="avatar-image img-thumbnail" (click)="selectAvatar(img)">
      </div>
    </div>
  </div>
</div>


