@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}
.my-button {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 2.8vw;
  color: #FFFFFF;
  text-shadow: -1px 4px 1px #7C66A9;

  padding: 20px 30px;
  margin: 10px ;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(261.58deg, rgba(124, 101, 169, 0.5) -77.61%, rgba(145, 192, 196, 0.5) 143.35%);
  border-radius: 100px;
  border: none;
}

.my-button:hover{
  cursor: pointer;
}
.my-button:active{
  box-shadow: inset 5px -5px 4px rgba(0, 0, 0, 0.25),
              inset -5px 5px 4px rgba(0, 0, 0, 0.25),
              inset -5px -5px 4px rgba(0, 0, 0, 0.25),
              inset 5px 5px 4px rgba(0, 0, 0, 0.25);
}


.contrastUpContainer{
  color: black!important;
  background: rgb(200, 200, 200)!important;
  text-shadow: none!important;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.DEUTERANOMALIE{
  background: #805ad0 !important;
  text-shadow: none !important;
}

.TRITANOPIE{
  background: #fb5e7e !important;
  text-shadow: none !important;
}

