<section class="mx-auto my-2" style="max-width: 23rem;">
    <div class="card">
        <img [src]="quiz.image" class="img-fluid" />

        <div [ngClass]="[this.contrasteTroubleEnable ? 'contrastUpContainer' : '']"
             class="card-body fontSizeCanChange fontColorToChange">
            <h1 [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : ''" class="card-title font-weight-bold">{{quiz.name}}</h1>
            <ul class="list-unstyled list-inline mb-0"
                [ngClass]="[this.contrasteTroubleEnable && this.getVisionColorSelected()==-1 ? 'INVERT' : '']"
            >
              <li class="list-inline-item me-0">
                  <fa-icon [ngClass]="this.contrasteTroubleEnable ? 'imgContrastUp' : ''"  class="star-icon" [icon]="quizStar" *ngFor="let i of [].constructor(quiz.difficulty)"></fa-icon>
              </li>
              <li class="list-inline-item">
                  <span [ngClass]="this.contrasteTroubleEnable ? 'imgContrastUp' : ''"  class="note fontStyleCanChange fontSizeCanChange">{{quiz.difficulty}}/5 (413)</span>
              </li>
            </ul>
            <h4>
              <p [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : ''"  class="card-theme mb-2 fontStyleCanChange fontSizeCanChange">
                {{quiz.theme}}
              </p>
            </h4>
            <p class="card-text fontStyleCanChange fontSizeCanChange">
              {{quiz.desc}}
            </p>

        </div>
    </div>

</section>
