<section class="mx-auto my-2" style="max-width: 23rem;">
    <div class="card">
        <img [src]="quiz.image" class="img-fluid" />

        <div [ngClass]="[this.contrasteTroubleEnable ? 'contrastUpContainer' : '']"
             class="card-body fontSizeCanChange fontColorToChange">
            <h1 [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : ''" class="card-title font-weight-bold">{{quiz.name}}</h1>
            <ul class="list-unstyled list-inline mb-0"
                [ngClass]="[this.contrasteTroubleEnable && this.getVisionColorSelected()==-1 ? 'INVERT' : '']"
            >
              <li class="list-inline-item">
                <div class="difficulty-bars">
                  <span class="difficulty-bar" *ngFor="let i of [1, 2, 3, 4, 5]" [style.background-color]="i <= getDifficultyQuiz() ? getDifficultyColor(getDifficultyQuiz()) : 'rgba(46, 49, 54, 0.6)'"></span>
                  <span [ngClass]="this.contrasteTroubleEnable ? 'imgContrastUp' : ''"  class="note fontStyleCanChange fontSizeCanChange" id="noteDifficulty">{{ getDifficultyQuiz() }}/5</span>
                </div>
              </li>
            </ul>
            <h4>
              <p [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : ''"  class="card-theme mb-2 fontStyleCanChange fontSizeCanChange">
                {{quiz.theme}}
              </p>
            </h4>
            <p class="card-text fontStyleCanChange fontSizeCanChange">
              {{quiz.desc}}
            </p>

        </div>
    </div>

</section>
