.buttonPlay{
    text-align: center;
}
.containerButton {
    text-align: center;
}

.card {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 50px;
  border: 1px solid white;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover{
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.150s ease-in-out;
}

.card:hover::after{
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.150s ease-in-out;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.card-title {
  text-shadow: 3px 3px 0 #1E1E1E;
  font-family: DynaPuff;
}

.card-theme {
  text-shadow: 1px 1px 0 white;
  color: black;
}


.card-text {
  color: black;
}

.star-icon {
  color: #FFD700;
}

.note {
  font-weight: bold;
  color: #FFD700;
}

.img-fluid {
  height: 30vh;
}

.contrastUpTextExtrude{
  text-shadow: none;
  color: black;
}

.contrastUpContainer{
  background: rgb(200, 200, 200);
}

.contrastUpImg{
  filter : invert(1);
}
