<div class="creationQuiz">

  <div class="header">
    <app-btn-polyquiz-text id="polyquizHome"></app-btn-polyquiz-text>
    <p [ngClass]="this.contrasteTroubleEnable ? 'titreStyleContrastOn' : 'titreStyleContrastOff'" class="fontSizeCanChange">Créer mon quizz</p>
    <app-btn-clickable-frame-background (click)="toggleAuthenticate()" class="navigation" id="retour" [routerLink]="['/liste-quizz']">RETOUR</app-btn-clickable-frame-background>
  </div>

  <form>
    <div class="contenu-creation-quiz fontStyleCanChange fontSizeCanChange">
      <div class="conteneur-caracteristiques-quiz">
        <div class="caracteristiques-quiz">
          <div class="conteneur_image_difficulte">
            <div id="image-quiz-id" class="image-quiz">
              <label for="recup-fichier">
                <img class="iconeImage" src="./assets/Images/Logo_image.png">
              </label>
              <input id="recup-fichier" type="file" (change)="afficherFichier()" />
            </div>
            <div class="difficulty-bars">
              <span class="note difficulte">DIFFICULTÉ</span>
              <span class="difficulty-bar" *ngFor="let i of [1, 2, 3, 4, 5]" (click)="onClickChangeColor(i)" [style.background-color]="i <= selectedIndex ? currentColor : 'rgba(46, 49, 54, 0.6)'"></span>
              <span class="note fontStyleCanChange" id="noteDifficulty">{{selectedIndex}}/5</span>
            </div>
          </div>
          <div class="titre-quiz">
            <input [ngClass]="this.contrasteTroubleEnable ? 'inputStyleContrastOn' : 'inputStyleContrastOff'" class="fontStyleCanChange fontSizeCanChange" type="text" placeholder="Titre du quiz…" [(ngModel)]="titreQuiz" name="titreQuiz" required/>
          </div>
          <div class="description-quiz">
            <span [ngClass]="this.contrasteTroubleEnable ? 'inputStyleContrastOn' : 'inputStyleContrastOff'" class="textDescription fontStyleCanChange fontSizeCanChange"><strong >Description</strong></span>
            <textarea [(ngModel)]="descriptionQuiz" name="descriptionQuiz" required></textarea>
          </div>
        </div>
      </div>

      <div class="conteneur-questions">
        <div class="question" *ngFor="let question of questionsQuiz; let i = index">
          <div class="titre-question">
            <input [ngClass]="this.contrasteTroubleEnable ? 'inputStyleContrastOn' : 'inputStyleContrastOff'" class="fontStyleCanChange fontSizeCanChange" type="text" placeholder="Question {{ i + 1 }} : ..." [(ngModel)]="questions[i]" name="question_{{i}}" required/>
          </div>
          <div class="reponses-question">
            <div class="reponse" *ngFor="let reponse of reponsesQuiz[i]; let j = index">
              <input bind-attr.data-testid="'reponse-'+i+'-'+j" [ngClass]="this.contrasteTroubleEnable ? 'inputStyleContrastOn' : 'inputStyleContrastOff'" class="fontStyleCanChange fontSizeCanChange" type="text" placeholder="Réponse {{ j + 1 }}" [(ngModel)]="reponses[i][j]" name="reponse_{{i}}_{{j}}" required/>
              <div bind-attr.data-testid="'reponseBubble-'+i+'-'+j" class="reponse-bubble uncheked" (click)="selectionnerBonneReponse(i, j)">
              </div>
            </div>
            <div class="ajout" *ngIf="reponsesQuiz[i].length < 4" (click)="ajouterReponse(i)" bind-attr.data-testid="'boutonAjouterReponse-' +i">
              <span class="textAjout"><strong>+</strong></span>
            </div>
          </div>
        </div>

        <div class="question-supplementaire">
          <div class="boutonPlus" (click)="ajouterQuestion()">
            <span class="textBoutonPlus"><strong>+</strong></span>
          </div>
          <div class="ajouterQuestion">
            <span class="textAjouterQuestion"><strong>Ajouter une question supplémentaire</strong></span>
          </div>
        </div>
      </div>

      <button [ngClass]="this.contrasteTroubleEnable ? 'boutonValiderContrastOn' : 'boutonValiderContrastOff'" class="bouton_valider fontStyleCanChange fontSizeCanChange" (click)="createQuiz()">VALIDER</button>

    </div>
  </form>

</div>

<!-- Pop-up pour le code d'acces -->
<app-access-code-modal *ngIf="showModalAuth"
                       (enteredAccessCode)="handleAccessCode($event)"
                       [isAccessing]="isAccessing" [isAppearing]="isAppearing">
</app-access-code-modal>

<div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show user-alert" role="alert">
  {{alertMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>
