<div class="container">
    <div class="quizz-container">
      <div class="titrePage">
        <p [ngClass]="this.contrasteTroubleEnable ? 'contrastUpText' : ''" class="titreStyle">{{quiz.name}}</p>
      </div>

      <div class="question-bubble">
        <svg class="text-line" *ngIf="animations">
          <text [ngStyle]="{'animation-duration': animations ? animationDuration : '0s'}" class="question-text" x="50%" y="40%" text-anchor="middle" dominant-baseline="middle">{{ currentQuestion.label }}</text>
        </svg>
          <text *ngIf="!animations" [ngStyle]="{'animation-duration': animations ? animationDuration : '0s'}" class="question-text">Q{{currentQuestion.id}} : {{currentQuestion.label}}</text>
        <div class="timer">{{ timeRemaining }} s</div>
      </div>

      <div class="answers-container">
        <div [ngClass]="this.contrasteTroubleEnable ? 'contrastUpContainer' : ''"  *ngFor="let answer of currentQuestion?.answers; let i = index" class="answer" (click)="selectAnswer($event)">
          <input type="radio" name="answer" id="answer{{ i }}" [(ngModel)]="selectedAnswerIndex" [value]="i" (click)="selectAnswer($event)">
          <label [ngStyle]="{'animation-duration': animations ? animationDuration : '0s'}" for="answer{{ i }}" [class]="animations ? 'animated-label' : ''">{{ answer.value }}</label>
        </div>
      </div>
      <div class="check-container">
        <button (click)="validateAnswer()" [disabled]="selectedAnswerIndex == null" class="check_btn">Valider</button>
      </div>
      <div class="buttons-container">
        <div *ngIf="isAnswerCorrect == false && selectedAnswerIndex != questionCorrectIndex" class="wrong-answer">
          <p>Mauvaise réponse, la bonne réponse est {{ currentQuestion.answers[questionCorrectIndex].value }}</p>
        </div>
        <div *ngIf="isAnswerCorrect == true && selectedAnswerIndex != questionCorrectIndex" class="good-answer">
            <p>Bonne réponse ! </p>
          </div>
        <button *ngIf="isAnswerCorrect != null && currentQuestionIndex != quiz.questions.length -1" [disabled]="isQuizFinished == true" (click)="goToNextQuestion()" [ngClass]="this.contrasteTroubleEnable ? 'contrastUpContainer && next_btnContrastOn' : 'next_btnContrastOff'" >Question suivante</button>
        <button *ngIf="isQuizFinished" [routerLink]="['/resultat-quizz']" [ngClass]="this.contrasteTroubleEnable ? 'contrastUpContainer && next_btnContrastOn' : 'next_btnContrastOff'">Voir les résultats !</button>
      </div>
    </div>
    <div class="bubble" id="bubble1" *ngIf="getAnimateur()"></div>
    <div class="bubble" id="bubble2" *ngIf="getAnimateur()"></div>
    <div class="bubble" id="bubble3" *ngIf="getAnimateur()"></div>
    <div class="bubble" id="bubble4" *ngIf="getAnimateur()"></div>
    <div class="bubble" id="bubble5" *ngIf="getAnimateur()"></div>
    <app-image-animateur *ngIf="getAnimateur()"></app-image-animateur>
  </div>
