.question-bubble {
    background-color: rgba(226, 226, 226, 0.359); /* rendre le fond semi-transparent à 70% */
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 50px;
    top: 100%;
    margin: auto;
    text-align: center;

    padding-left: 3%;
    padding-right: 3%;

    width: fit-content;
    height: fit-content;
}

  .question-bubble p {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
  }

  .answers-container{
    display: flex;


    margin-top: 5%;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  input[type=radio] {
    display: none;
  }

  label{
    font-weight: bold;
    font-size: 40px;
  }

  .answer{
    /*border: 2px solid #ccc;*/

    padding: 10px;

    padding-left: 2%;
    padding-right: 2%;

    margin: 3%;

    border-radius: 50px;

    text-align: center;

    display: inline-block;
    width: fit-content;
    min-width: 40%;
    height: fit-content;
    
    box-sizing: border-box;
  }

  .answer:hover{
    background-color: #ccc;
  }

  /* A FINIR */
  .answer input:checked ~ .checkmark{
    background-color: #ccc;
  }

  .check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajouter une marge en haut pour l'espace */
  }
  
  .check-container button {
    margin: 0 10px; /* Ajouter une marge à gauche et à droite pour séparer les boutons */
  }

  .check_btn{
    background-color: #1eff0081;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }

  .wrong_answer{
    background-color: #ff1e1e;
  }