@font-face {
    font-family: 'DynaPuff';
    src: url("~src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf");
  }

  @font-face {
    font-family: 'Nunito';
    src: url("~src/assets/Fonts/nunito-main/fonts/variable/Nunito[wght].ttf");
  }

  html, body {
    height: 100%;
    max-height: 100vh;
  }

header {
  padding-top: 4%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

  h1{
    font-family: DynaPuff;
    font-size: 9vw;
    font-weight: 700;
    color: #FFFDF8;
    text-shadow: 8px 8px 0 #1E1E1E;
    margin: 0 0 0 22%;
  }

  p{
    font-family: Nunito;
    font-size: 6vh;
    font-weight: 900;
    text-align: center;
    margin-top: 5vh;

    background: linear-gradient(90deg, #7D67AA -4.73%, #8791B6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .colorExample{
    scale: 80%;
    width: 80%;
    margin-left: 10%;
    border-radius: 100px;
    background: linear-gradient(90deg, #f3f3f3 -4.73%, #ffe5e5 100%);
    box-shadow: inset 5px -5px 4px rgba(0, 0, 0, 0.25),
                inset -5px 5px 4px rgba(0, 0, 0, 0.25),
                inset -5px -5px 4px rgba(0, 0, 0, 0.25),
                inset 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
  #exampleTxt{
    font-size: 6vh;
    scale: 60%;
    font-weight: 700;
    text-align: center;
    margin-top: 5vh;
    -webkit-background-clip: text;
    background-clip: text;
  }

//conteneur general
.generalContainer{
  margin-top: -2%;
  height: 90%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.labelContainer{
  margin: 0% 0% 15% 0%;
}

.setupContainer{
  margin-top: 5%;
  width: 30%;
  height: 70%;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 100px;
}

.colorExample{
  margin: -10% auto auto auto;
}

.btnContainer{
  width: 90%;
  display: flex;
  flex-flow: column;
  align-self: center;
}

#fontChangerConfirmation{
  margin-bottom: 5%;
  align-self: center;
  scale: 50%;
}

//re-size des boutons
app-btn-on-off-colors{
  scale: 80%;
}

app-btn-font{
  scale: 80%;
}


//CONTRASTE
.contrastUpContainer{
  background: rgb(200, 200, 200);
}

.contrastUpTextExtrude{
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contrastUpTitleExtrude{
  font-family: DynaPuff;
  font-size: 9vw;
  font-weight: 700;
  color: #000000;
  text-shadow: none;
  margin: 0 0 0 22%;
}



//MODIFICATION DES BOUTONS
#TRICHROMATIE{
  //background: black;
}

#DICHROMATISME{
  //background: black;
}


