<div class="generalContainer">
    <div class="colorChangerContainer setupContainer">
        <label>Jeux de couleurs</label>
        <div class="btnContainer">
            <app-btn-on-off-colors></app-btn-on-off-colors>
            <app-btn-on-off-colors></app-btn-on-off-colors>
        </div>
    </div>

    <div class="fontChangerContainer setupContainer">
        <label>Police</label>
        <button class="btn_fontChanger1"></button>
        <button class="btn_fontChanger2"></button>
        <button class="btn_fontChanger3"></button>
    </div>

    <div class="fontSizeChangerContainer setupContainer">
        <label>Taille de la police</label>
        <button class="btn_fontSizeChanger1"></button>
        <button class="btn_fontSizeChanger2"></button>
    </div>
</div>
