.titreStyle {
    font-family: DynaPuff !important;
    font-size: 5vw !important;
    font-weight: 700 !important;
    color: #FFFDF8 !important;
    text-align: center !important;
    text-shadow: 8px 8px 0 #1E1E1E !important;
}