@font-face {
  font-family: "Roboto Mono";
  src: url("~src/assets/Fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}

button {
  width: 100%;
  height: 100%;
  border: none;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 4vw;

  color: #FFFFFF;

  text-shadow: 5px 4px 1px #7C66A9;

  border-radius: 100px;
  transition: all 0.3s ease-in-out;

  background: linear-gradient(
      261.58deg,
      rgba(178, 0, 0, 0.5) -77.61%,
      rgba(124, 101, 169, 0.5) 143.35%
  );

  box-shadow: inset 5px 5px 16px rgba(0, 0, 0, 0.25),
  inset -4px -3px 16px rgba(255, 255, 255, 0.32);
}

//SETUP DE CONTRASTE
.contrastUpContainer{
  background: rgb(200, 200, 200);
  text-shadow: none;
}

.DEUTERANOMALIE{
  background: #805ad0 !important;
  text-shadow: none !important;
}

.TRITANOPIE{
  background: #e50b0b !important;
  text-shadow: none !important;
}

p{
  margin: 0;
}
