<div class="container">

  <div class="titrePage">
      <app-btn-polyquiz-text id="polyquizHome"></app-btn-polyquiz-text>
      <p class="titreStyle"> Liste des quizz</p>

      <div class="btnCreerConfig">
          <app-btn-list-quiz id="creerQuizz" [routerLink]="['/creer-quizz']">Créer mon quizz</app-btn-list-quiz>
          <app-btn-list-quiz id="configQuizz" [routerLink]="['/configuration']">Paramètres<br>des quizz</app-btn-list-quiz>
      </div>
  </div>

    <div class="quiz-list ">
        <div class="quiz" *ngFor="let quiz of quizList">
            <app-quiz-element [quiz]="quiz" routerLink="/accueil-quiz/{{quiz.id}}"></app-quiz-element>
        </div>
    </div>



</div>
