.titrePage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  margin-left: 1vw;
}

#polyquizHome{
  margin-bottom: 2vh;
}

.btnCreerConfig{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.titreStyle {
  font-family: DynaPuff;
  font-size: 5vw;
  font-weight: 700;
  color: #FFFDF8;
  text-align: center;
  text-shadow: 8px 8px 0 #1E1E1E;
  margin-right: 10vw;
}

 .quiz-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: row  ;
   margin-right: 10vw;
   margin-left: 10vw;
 }

 .quiz{
   width: 30%;
   margin-bottom: 20px;
 }

.hovered {
  transform: scale(1.05) translateZ(0);
  transition: transform 0.2s ease-in-out;
}

.quiz-list .another-hovered {
  filter: blur(5px);
}




#creerQuizz{
   margin-top: 2vh;
   margin-bottom: 3vh;
 }

 .imageSettings {
   width: 35px;
   height: 35px;
 }

 .settingsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 #settingsText {
   margin-left: 1vw;
 }

 .selectionQuiz {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 1vw 15vw 3vw 11vw;
 }



 