@font-face {
  font-family: 'DynaPuff';
  src: url('../../front-end/src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf');
}
@import '~bootstrap/dist/css/bootstrap.min.css';



body{
  display: flex;
  background: linear-gradient(90deg, #7C65A9 0%, #96D4CA 100%);
  overflow: hidden;
}

app-root{
  width: 100%;
}

.titreStyle {
  font-family: DynaPuff;
  font-size: 5vw;
  font-weight: 700;
  color: #FFFDF8;
  text-align: center;
  text-shadow: 8px 8px 0 #1E1E1E;
}

.imgContrastUp{
  filter: invert(1);
}

.contrastUpContainer{
  background: rgb(200, 200, 200);
}

.contrastUpText{
  color: black;
  text-shadow: none;
}


//TITRE ACCUEIL (VERSION GRANDE)

.contrastDownTitleExtrude{
  font-family: DynaPuff;
  font-size: 11vw;
  font-weight: 700;
  color: #FFFDF8;
  text-shadow: 8px 8px 0 #1E1E1E;
  margin-bottom: 5%;
}

.contrastUpTitleExtrude{
  font-family: DynaPuff;
  font-size: 11vw;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5%;
}

.contrastUpTextExtrude{
  padding: 10px;
  font-size: 3vw;
  font-weight: 700;
  color: #000000;
  text-shadow: none;
  text-decoration: none;
}




