@font-face {
  font-family: 'DynaPuff';
  src: url('../../front-end/src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf');
}
@import '~bootstrap/dist/css/bootstrap.min.css';



body{
  display: flex;
  background: linear-gradient(90deg, #7C65A9 0%, #96D4CA 100%);
  overflow: hidden;
}

app-root{
  width: 100%;
}
