@font-face
{
  font-variation-settings: "wght" 100, "ital" 0;
  font-family: DynaPuff;
  src: url("~src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf");
}

.container.accueilQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageContainer{

    max-width: 60%;
  }

  .img-fluid {
    border-radius: 100px;
  }

.containerButton{
    margin-top: 3%;
}

.titreStyle {
  font-family: DynaPuff;
  font-weight: 550;
  //space between letters
  letter-spacing: 0.03em;
}

#retour{
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}
