<div class="accueilQuiz">

  <div class="header">
    <app-btn-polyquiz-text id="polyquizHome"></app-btn-polyquiz-text>
    <app-btn-clickable-frame-background class="navigation" id="retour" onclick="history.go(-1);">RETOUR</app-btn-clickable-frame-background>
  </div>

  <div class="infoQuiz">
    <div class="leftContainer">
      <img [src]="quiz.image" class="img-fluid" />
      <div class="btnModifierQuiz">
        <app-btn-list-quiz id="modifierQuizz" [routerLink]="['/modif-quizz']">
          <div class="modifyContainer">
            <span id="modifyText">Modifier le quiz</span>
          </div>
        </app-btn-list-quiz>
      </div>
    </div>

    <div class="rightContainer">
      <p class="titreStyle">{{quiz.name}}</p>

      <div class="infoComplementaire">
        <div class="nbrTentatives">
          <span id="textTentative">NOMBRE DE TENTATIVES<br>EFFECTUÉES : 2</span>
        </div>

        <div class="difficulty">
          <span id="textDifficulty">DIFFICULTÉ :</span>
            <div class="difficulty-bars">
              <span class="difficulty-bar" *ngFor="let i of [1, 2, 3, 4, 5]" [style.backgroundColor]="getDifficultyColor(i <= quiz.difficulty ? quiz.difficulty : 0)"></span>
              <span class="note">{{quiz.difficulty}}/5</span>
            </div>
        </div>
      </div>
      <app-btn-clickable-frame-background routerLink="/jouer-quiz/{{quiz.id}}" class="btnJouer">JOUER</app-btn-clickable-frame-background>

    </div>

  </div>
</div>
