@font-face
{
  font-variation-settings: "wght" 100, "ital" 0;
  font-family: DynaPuff;
  src: url("~src/assets/Fonts/dynapuff/fonts/variable/DynaPuff[wdth,wght].ttf");
}

.bottomPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.titrePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;
  margin-left: 1vw;
}

.infoQuiz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
  margin-left: 38vw;
  margin-bottom : 2vh;
  color: white;
}

.nbrTentatives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}

.yellow-star-icon {
  color: #FFD700;
}

.not-yellow-star-icon {
  color: #D3D3D3;
}

.note {
  color: #FFD700;
  margin-left: 1vw;
  font-weight: bold;
}

  .imageContainer{

    max-width: 35%;
  }

  .img-fluid {
    border-radius: 100px;
  }

.containerButton{
    margin-top: 3%;
}

.titreStyle {
  font-family: DynaPuff;
}

.animations .titreStyle {
  font-family: DynaPuff;
  animation: DynaPuff 1.5s infinite;
}

#retour{
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}

#modifierQuizz {
  font-size: 1.5vw;
}

.imageModify {
  width: 60px;
  height: 60px;
}

.modifyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#modifyText {
  margin-left: 1vw;
}

.bubble {
  background: rgba(225, 225, 225, 0.5);
  border-radius: 50%;
}

#bubble1 {
  position: absolute;
  top: 64.2vh;
  left: 12vw;
  height: 1vw;
  width: 1vw;
}

#bubble2 {
  position: absolute;
  top: 59vh;
  left: 10.5vw;
  height: 2vw;
  width: 2vw;
}

#bubble3 {
  position: absolute;
  top: 52vh;
  left: 10vw;
  height: 3vw;
  width: 3vw;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22vh;
  left: 2vw;
  width: 27vw;
  height: 28vh;
  border-radius: 50%;
  text-shadow: 2px 2px 2px #1E1E1E;
  padding-top: 4vh;
}

.textContainer p {
  text-align: center;
  font-size: 1.8vw;
  color: white;
}

@keyframes DynaPuff {
  0% {
    font-variation-settings: "wght" 100, "ital" 0;
  }
  50% {
    font-variation-settings: "wght" 900, "ital" 0;
  }
  100% {
    font-variation-settings: "wght" 100, "ital" 0;
  }
}

