<div class="container accueilQuiz" [class.animations]="animations">
    <div class="titrePage">
      <p class="titreStyle">{{quiz.name}}</p>
    </div>

    <app-image-animateur *ngIf="getAnimateur()"></app-image-animateur>

    <div class="imageContainer">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" class="img-fluid" />

    </div>

    <div class="containerButton">
      <app-btn-clickable-background routerLink="/jouer-quiz/{{quiz.id}}">JOUER</app-btn-clickable-background>
    </div>

    <app-btn-clickable-frame-background class="navigation" id="retour" onclick="history.go(-1);">RETOUR</app-btn-clickable-frame-background>
</div>

